{% extends 'base.html.twig'%}

{% block title 'Recette : ' ~ recipe.title %}

{% block body%}
  {# {{ slug}}  #}
  {# {{ person.firstname}} {{ person.lastname}} #}

  {# {{ person.firstname ~ person.lastname}} #}

  <h1>{{ recipe.title}} </h1>

  <p> {{recipe.content | nl2br}} </p>
{% endblock %}